.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactTitle {
	font-family: var(--title-font);
	margin-bottom: 2rem;
	color: var(--title-color);
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: var(--title-color);
	caret-color: var(--title-color);
}

.formGroup {
	margin-bottom: 1rem;
	width: 30rem;
}

.label {
	font-family: var(--body-font);
}

.input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid var(--title-color);
	outline: none;
	border-radius: 4px;
	color: var(--font-color);
	background-color: var(--bg-color);
}

.textArea {
	width: 100%;
	height: 100%;
	padding: 12px 20px;
	border: 1px solid var(--font-color);
	outline: none;
	border-radius: 4px;
	background-color: var(--bg-color);
	color: var(--font-color);
}

.submitButton {
	font-family: var(--body-font);
	margin-top: 3rem;
	margin-right: 21rem;
	background: none;
	border: 1px solid var(--title-color);
	color: var(--title-color);
	border-radius: 4px;
	height: 3rem;
	width: 9rem;
}

.submitButton:hover {
	background-color: var(--accent-color);
	color: #fff;
	border-color: var(--bg-color);
}

@media (max-width: 768px) {
	.contactTitle {
		line-height: 2.5rem;
		margin-bottom: 1rem;
		width: 85vw;
	}

	.formGroup {
		margin-bottom: 1rem;
		width: 22rem;
	}

	.submitButton {
		margin-top: 3rem;
		margin-right: 14rem;
		background: none;
		border: 1px solid var(--font-color);
		border-radius: 4px;
		height: 3rem;
		width: 8rem;
	}

	/* .contactName {
		margin-bottom: -1.2rem;
	} */
}

/* .contactName:hover {
	color: var(--accent-color);
	text-decoration: underline;
} */
