.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contactName:hover {
	color: var(--accent-color);
	text-decoration: underline;
}

.contact {
	font-family: 'Inconsolata', monospace;
}

@media (max-width: 768px) {
	.contactName {
		margin-bottom: -1.2rem;
	}
}
