@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--bg-color);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--bg-color: $ {
		!darkmode?'#fff': '#202020';
	}
	--font-color: $ {
		!darkmode?'#202020': '#fff';
	}
	--accent-color: #82adc9;
	--button-color: $ {
		!darkmode?'#fff': '#82adc9';
	}
}
