.container {
	max-width: 65rem;
	min-height: 100vh;
	padding: 20px;
	margin: 25px auto;
}

/* Home Section */

.homeIcons {
	display: flex;
	align-items: center;
	margin-top: 10rem;
}

.line {
	align-self: center;
	height: 2px;
	background-color: gray;
	width: 20rem;
	margin-top: 0.2rem;
}

.icons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 3rem;
	color: var(--font-color);
}

.icon:hover {
	transition: color 0.2s ease;
	color: var(--accent-color);
}

.home {
	font-family: var(--title-font);
	font-size: 3vw;
	font-weight: 300;
	color: var(--font-color);
	line-height: 129.69%;
	letter-spacing: 0.03em;
	margin: 1.5rem;
	width: 100%;
}

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
		infinite;
}

.arrowButton {
	cursor: pointer;
	margin-bottom: 1rem;
}

.homeImage {
	width: 100%;
	height: 50vh;
	border-radius: 4px;
}

/* About Section */

.img {
	height: 20rem;
	width: 16rem;
	border-radius: 5%;
	margin-right: 2rem;
	margin-top: 0.4rem;
}

.aboutMe {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
}

.aboutTitle {
	font-family: var(--title-font);
	align-items: flex-start;
	margin-bottom: 2rem;
	margin-right: 2rem;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.aboutDesc {
	max-width: 800px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.aboutP {
	margin-bottom: 1.2rem;
	margin-left: 0.9rem;
	font-family: var(--body-font);
}

.skillSection {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.skillsTitle {
	font-weight: 300;
	font-family: var(--title-font);
	margin-bottom: 1.3rem;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.skillsSubTitle {
	font-weight: 400;
	font-family: var(--body-font);
	margin-bottom: 1rem;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.skills {
	font-family: var(--title-font);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 18rem;
}

.skillsList {
	list-style: none;
	padding: 0;
}

@media (max-width: 768px) {
	/* Home Section */
	.home {
		font-size: 10vw;
	}

	.homeIcons {
		margin-top: 7rem;
	}

	.line {
		width: 14rem;
	}

	.icons {
		margin-left: 3rem;
	}

	.icon:hover {
		transition: color 0.2s ease;
		color: var(--accent-color);
	}

	.slidingText {
		font-size: 2.5rem;
		font-weight: 300;
	}

	.homeImage {
		width: 100%;
		height: 40vh;
		border-radius: 4px;
		object-fit: cover;
	}

	/* About Section */

	.img {
		height: 11rem;
		width: 11rem;
		margin: 0 0 1rem 0;
	}

	.aboutMe {
		max-width: 800px;
	}

	.aboutTitle {
		font-weight: 200;
		align-items: center;
		margin: 4rem 0 0.8rem 0;
	}

	.aboutDesc {
		padding: 0 0.8rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skillsTitle {
		margin-right: 1rem;
	}

	.skillSection {
		align-items: center;
	}

	.skills {
		width: 16rem;
	}

	.skillsList {
		list-style: none;
		padding: 0;
	}

	.contactName {
		margin-bottom: -1.2rem;
	}
}
