.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Home Section */

.home {
	font-size: 80px;
	font-weight: 600;
	margin: 0;
	color: var(--font-color);
}

.slidingText {
	font-size: 33px;
	font-family: 'Inconsolata', monospace;
	font-weight: 200;
	color: var(--font-color);
}

.react-rotating-text-cursor {
	animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
		infinite;
}

.arrowButton {
	padding-top: 1rem;
	cursor: pointer;
}

/* About Section */

.img {
	height: 19rem;
	width: 19rem;
	border-radius: 100%;
	margin-right: 2rem;
	margin-top: 1.5rem;
}

.aboutMe {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--font-color);
}

.aboutTitle {
	font-family: 'Inconsolata', monospace;
	align-items: center;
	margin-bottom: 2rem;
	margin-left: 3.1rem;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.aboutDesc {
	max-width: 800px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.skillSection {
	display: flex;
	flex-direction: column;
}

.skillsTitle {
	font-family: 'Inconsolata', monospace;
	margin-bottom: 1.3rem;
}

.skillsSubTitle {
	font-family: 'Inconsolata', monospace;
	margin-bottom: 1rem;
}

.skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 21rem;
}

.skillsList {
	list-style: none;
	padding: 0;
}

@media (max-width: 768px) {
	/* Home Section */
	.home {
		font-size: 60px;
	}

	.slidingText {
		font-size: 15px;
		font-weight: 300;
	}

	/* About Section */

	.img {
		height: 11rem;
		width: 11rem;
		margin: 0 0 1rem 0;
	}

	.aboutMe {
		max-width: 800px;
	}

	.aboutTitle {
		font-weight: 200;
		align-items: center;
		margin: 4rem 0 0.8rem 0;
	}

	.aboutDesc {
		padding: 0 0.8rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.skillSection {
		align-items: center;
	}

	.skills {
		width: 20rem;
	}

	.skillsList {
		list-style: none;
		padding: 0;
	}

	.contactName {
		margin-bottom: -1.2rem;
	}
}
