/* Home Section */

.homeIcons {
	display: flex;
	align-items: center;
	margin-top: 7rem;
}

.home {
	font-family: var(--title-font);
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--title-color);
	line-height: 129.69%;
	letter-spacing: 0.1rem;
	margin: 1.5rem;
}

.line {
	height: 2px;
	background-color: var(--font-color);
	width: 14rem;
}

.icons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 2rem;
	color: var(--title-color);
}

.icon:hover {
	transition: color 0.2s ease;
	color: var(--accent-color);
}

.slidingText {
	font-size: 2.5rem;
	font-weight: 300;
}

.arrowButton {
	cursor: pointer;
	margin-top: 1rem;
}

.homeImage {
	border-radius: 4px;
	height: 15rem;
	width: 100%;
	margin-top: 4rem;
	margin-bottom: 6rem;
}

/* About Section */

.aboutDesc {
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.aboutStory {
	font-family: var(--body-font);
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-left: 0.7rem;
}

.skillsTitle {
	margin-top: 2rem;
	align-self: center;
	color: var(--title-color);
	font-family: var(--title-font);
	font-weight: 300;
	text-decoration: 2px underline;
	text-decoration-color: var(--accent-color);
}

.skills {
	color: var(--title-color);
	font-family: var(--title-font);
	align-self: center;
}

.skillSection {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 5rem;
}

.skillsList {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	margin-left: 1rem;
	margin-bottom: -2rem;
}

.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	padding: 0.3rem;
	margin-right: 3rem;
}

@media (min-width: 768px) {
	/* Home Section */
	.home {
		font-family: var(--title-font);
		font-size: 3rem;
		font-weight: 300;
		color: var(--title-color);
		line-height: 130%;
		letter-spacing: 0.2rem;
	}

	.homeIcons {
		margin-top: 10rem;
	}

	.line {
		margin-left: 1rem;
		height: 2px;
		background-color: var(--font-color);
		width: 30rem;
	}

	.icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 3rem;
		color: var(--title-color);
	}

	.icon:hover {
		transition: color 0.2s ease;
		color: var(--accent-color);
	}

	.react-rotating-text-cursor {
		animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
			infinite;
	}

	.arrowButton {
		cursor: pointer;
		margin-bottom: 1rem;
	}

	.homeImage {
		border-radius: 4px;
		height: 25rem;
		width: 100%;
		margin-top: 4rem;
		margin-bottom: 7.5rem;
	}

	/* About Section */

	.aboutDesc {
		color: var(--font-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.aboutStory {
		display: flex;
		flex-direction: row;
	}

	.aboutP {
		width: 98%;
	}

	.skillsTitle {
		font-family: var(--title-font);
		color: var(--title-color);
		font-weight: 300;
		margin-top: 7rem;
		margin-bottom: 2rem;
		text-decoration: 2px underline;
		text-decoration-color: var(--accent-color);
	}

	.skills {
		color: var(--title-color);
		font-family: var(--title-font);
		align-self: center;
	}

	.skillsList {
		text-align: left;
		text-decoration: none;
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1r 1fr;
	}

	.item {
		width: 8rem;
		font-family: var(--body-font);
		font-size: 1.2rem;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 2.6rem;
	}
}
