.nav {
	background-color: var(--bg-color);
	z-index: 1000;
	/* box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2); */
	position: relative;
	top: 0 !important;
}

.navbarAlignment {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 200;
}

.title {
	font-family: var(--title-font);
	color: var(--title-color);
	font-size: 20px;
	font-weight: 300;
}

.title:hover {
	color: var(--title-color);
	font-size: 20px;
	font-weight: 300;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.logo {
	font-family: 'Inconsolata', monospace;
	font-weight: 200;
	font-size: 20px;
	color: #fff;
	background-color: var(--accent-color);
	text-decoration: none;
	padding: 0.1rem 0.6rem 0.1rem 0.6rem;
	border-radius: 10%;
}

.links {
	font-family: var(--body-font);
	background-color: transparent;
	color: var(--title-color);
	font-size: 1rem;
	margin-left: 1.5rem;
}

.links:hover {
	background-color: transparent;
	color: var(--title-color);
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-left: 0.2rem;
	margin-bottom: 0.15rem;
}
.button:focus {
	outline: none;
	box-shadow: none;
}

@media (min-width: 768px) {
	.nav {
		background-color: var(--bg-color);
		z-index: 1000;
		/* box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2); */
		position: relative;
		top: 0 !important;
	}

	.navbarAlignment {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-weight: 200;
	}

	.logo {
		font-family: 'Inconsolata', monospace;
		color: #fff;
		background-color: var(--accent-color);
		padding: 0.1rem 0.6rem 0.1rem 0.6rem;
		margin-right: 0.8rem;
		border-radius: 10%;
	}

	.links {
		font-family: var(--body-font);
		background-color: transparent;
		color: var(--title-color);
		font-size: 1.1rem;
		margin-left: 2rem;
	}

	.links:hover {
		background-color: transparent;
		color: var(--title-color);
		text-decoration: underline;
		text-decoration-color: var(--accent-color);
	}

	.button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-left: 0.2rem;
		margin-bottom: 0.15rem;
	}
	.button:focus {
		outline: none;
		box-shadow: none;
	}
	/*  */
}
