.container {
	max-width: 800px;
	margin: 7rem auto;
	padding: 0 1.6rem;
	color: var(--font-color);
	font-family: var(--body-font);
}

.projectHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.code {
	margin-top: 0.25rem;
	margin-left: 0.4rem;
}

.links {
	text-decoration: none;
}

.links:hover {
	color: var(--font-color);
	text-decoration-color: var(--accent-color);
}

.projectTitle {
	font-family: var(--title-font);
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
	margin-bottom: 3rem;
}

.projectContainer {
	padding-bottom: 3rem;
}

.tools {
	margin: 0.2rem 0 0.8rem 0;
	font-size: 13px;
}

@media (max-width: 768px) {
	.container {
		margin-top: 5rem;
	}
	.projectTitle {
		margin-left: 0;
	}
}
