.container {
	margin-top: 3rem;
	color: var(--font-color);
	font-family: var(--body-font);
}

.projectP {
	width: 100%;
	margin-top: -1rem;
	margin-bottom: 3rem;
}

.projectContainer {
	padding-bottom: 3rem;
}

.imageSpacing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.image {
	width: 100%;
	border: 1px solid rgb(105, 105, 105);
	border-radius: 10px;
	transition-duration: 0.3s;
}

.image:hover {
	transform: scale(1.03);
}

.projectHeader {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
}

.code {
	margin-top: 0.25rem;
	margin-left: 0.4rem;
}

.links {
	text-decoration: none;
	color: var(--title-color);
}

.links:hover {
	color: var(--title-color);
	text-decoration-color: var(--accent-color);
}

.projectTitle {
	color: var(--title-color);
	font-family: var(--title-font);
	font-weight: 300;
	margin-bottom: 3rem;
	text-decoration: 2px underline;
	text-decoration-color: var(--accent-color);
}

.tools {
	margin: 0.2rem 0 0.8rem 0;
	font-size: 13px;
}

@media (min-width: 768px) {
	.container {
		color: var(--font-color);
		font-family: var(--body-font);
	}

	.projectP {
		width: 90%;
		margin-top: -1rem;
		margin-bottom: 3rem;
	}

	.projectContainer {
		padding-bottom: 3rem;
	}

	.imageSpacing {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.image {
		height: 100%;
		width: 100%;
		border: 1px solid rgb(105, 105, 105);
		border-radius: 10px;
		transition-duration: 0.3s;
	}

	.image:hover {
		transform: scale(1.03);
	}

	.projectHeader {
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
	}

	.code {
		margin-top: 0.25rem;
		margin-left: 0.4rem;
	}

	.links {
		text-decoration: none;
		color: var(--title-color);
	}

	.links:hover {
		color: var(--title-color);
		text-decoration-color: var(--accent-color);
	}

	.projectTitle {
		color: var(--title-color);
		font-family: var(--title-font);
		font-weight: 300;
		margin-bottom: 3rem;
		text-decoration: 2px underline;
		text-decoration-color: var(--accent-color);
	}

	.tools {
		margin: 0.2rem 0 0.8rem 0;
		font-size: 13px;
	}
}
